body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
}
nav{
    height: 50vh;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(236, 218, 60);
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(32, 13, 126);
}


img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    background-color: crimson;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
}
/* #stars {
    position: absolute;
    top: -10%;
    left: 100%;
} */

#stars img {
    width: 10%;
    height: auto;
    /* transform: rotate(20deg); */

    
}

.star1{
    position: absolute;
    animation: 3s infinite normal star1Move ease-out 
}

@keyframes star1Move
{
    from { 
        left: 80%;
        top: -10em;
        opacity: 100%;
        transform: rotate(0);
       }

    75% {
        transform: rotate(50deg);
        opacity: 40%;
    }
     
       
       to{
           left: 10%;
           top: 90%;
           opacity: 10%;
           transform: rotate(55deg);
       }
}


