body{
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}


.offset{
    position: relative;
    top: 80px;
}


h4{
    margin-top: 2px;
    font-style: italic;
    font-weight: normal;
}
h2{
    margin-bottom: 0;
    
} 
.events{
    display: flex;
   
    flex-direction: row;
    flex-wrap: wrap;
   
    
    
    
}

.intro{
    margin: 10px;
}
.events div {
    margin: 3vw;
    background-color: gold;
    padding: 10px;
    flex: 30vw;
    max-width: 40vw;
    padding: 30px;
    
}

@media screen and (max-width: 400px){ 
    .events{
        display: flex;
        flex-direction: column;
    }
    
    
}