body {
    font-family: helvetica, sans-serif;
    width: 350px;
    background-color: beige;
  }

  label {
    font-weight: bold;
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
    
  }

  .randomize {
    background-color: rgb(178, 244, 178);
  }

  p {
    background: #ffc125;
    color: #5e2612;
    padding: 10px;
    visibility: hidden;
  }