body {
  display: flex;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Press Start 2P";
  transition: background-color 1s ease; 
  
}

#phoneNumberInput
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  color: white;
}

.gameArea {
  display: flex;
  align-items: center; /* Align vertically */
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
}
.circle {
    width: 200px; /* Circle size */
    height: 200px; /* Circle size */
    border: 10px solid rgb(22, 186, 22);
    border-radius: 50%; /* Make it round */
    margin-left: 80px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 70px; /* Timer text size */
    color: rgb(22, 186, 22) /* Timer text color */
}

#tut {
  width: 400px;
  height: 300px;
  color: green;
  background-color: aqua;
  

}

li {
  margin: 40px 10px;
}

#submissionError {
  color: red;
}

#gameCanvas {
  border: 3px solid rgb(26, 127, 210);
  background-color: "black";
  margin-top: 100px; /* Move down by 50px */
  margin-left: 100px; /* Move right by 20px */
}

.gif {
  width: 200px;
  height: auto;
  display: none;
}

#values {
  color: grey;
  font-size: 24px;
}

.hacked {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  opacity: 0; /* Start as transparent if you are using a fade-in effect */
  /* animation: moveDown 3s ease forwards; Apply the animation */
}

.afterSubmission {
  display: none;
  opacity: 0;
  transition: opacity 2s ease;
}
.happy {
  position: absolute;

  animation: rotate 3s infinite alternate ease-in-out;
}

#rainbow {
  bottom: 200px; /* Adjust as needed */
  left: 200px; /* Adjust as needed */
}

#sun {
  top: 50px; /* Adjust as needed */
  right: 100px; /* Adjust as needed */
}

#star1,
#star2,
#star3,
#star4 {
  width: 80px;
  height: auto;
}

#star1 {
  top: 120px; /* Second closest to the top */
  left: 300px; /* Adjust as needed */
}

#star2 {
  top: 250px; /* Second closest to the top */
  left: 800px; /* Adjust as needed */
}

#star3 {
  bottom: 220px; /* Third closest to the top */
  right: 400px; /* Adjust as needed */
}

#star4 {
  bottom: 90px; /* Farthest from the top */
  left: 80px; /* Adjust as needed */
}

.animate-moveDown {
  animation: moveDown 3s ease forwards;
}
.animate-fadeIn {
  animation: fadeIn 2s ease forwards;
}

@keyframes rotate {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes moveDown {
  from {
    top: -20%; /* Start from the top of the screen */
    opacity: 0; /* Start from transparent if you want a fade-in effect */
  }
  to {
    top: -2%; /* Move to the middle of the screen, adjust as needed */
    opacity: 1; /* Fully visible */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
