body {
  display: flex;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 1s ease; /* 1 second transition for background-color */
}
h1 {
  color: white;
}

#submissionError {
  color: red;
}

#gameCanvas {
  border: 3px solid rgb(26, 127, 210);
  background-color: "black";
  margin-top: 100px; /* Move down by 50px */
  margin-left: 200px; /* Move right by 20px */
}

.gif {
  width: 200px;
  height: auto;
  display: none;
}

#values {
  color: grey;
  font-size: 24px;
}

.hacked {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Start as transparent if you are using a fade-in effect */
  animation: moveDown 3s ease forwards; /* Apply the animation */
}

.afterSubmission {
  display: none;
}
.happy {
  position: absolute;

  animation: rotate 3s infinite alternate ease-in-out;
}

#rainbow {
  bottom: 200px; /* Adjust as needed */
  left: 200px; /* Adjust as needed */
}

#sun {
  top: 50px; /* Adjust as needed */
  right: 100px; /* Adjust as needed */
}

#star1,
#star2,
#star3,
#star4 {
  width: 80px;
  height: auto;
}

#star1 {
  top: 120px; /* Second closest to the top */
  left: 300px; /* Adjust as needed */
}

#star2 {
  top: 250px; /* Second closest to the top */
  left: 800px; /* Adjust as needed */
}

#star3 {
  bottom: 220px; /* Third closest to the top */
  right: 400px; /* Adjust as needed */
}

#star4 {
  bottom: 90px; /* Farthest from the top */
  left: 80px; /* Adjust as needed */
}

@keyframes rotate {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes moveDown {
  from {
    top: -20%; /* Start from the top of the screen */
    opacity: 0; /* Start from transparent if you want a fade-in effect */
  }
  to {
    top: 3%; /* Move to the middle of the screen, adjust as needed */
    opacity: 1; /* Fully visible */
  }
}
