#photo-gallery {
  position: relative;
  margin: auto;
  width: 45%; /* Adjust as needed */
  height: 500px; /* Adjust as per your image height */
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust if necessary */
  height: auto; /* Adjust if necessary */
  opacity: 0;
  transition: opacity 1.3s ease-in;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}
