

  
.pattern{
  position: fixed;
  width: 100vw;
  height: 100vh;


  background-color: #c3c3f7;
opacity: 0.4;
background-image:  linear-gradient(135deg, #bbabde 25%, transparent 25%), linear-gradient(225deg, #bbabde 25%, transparent 25%), linear-gradient(45deg, #bbabde 25%, transparent 25%), linear-gradient(315deg, #bbabde 25%, #c3c3f7 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 10px 10px;
background-repeat: repeat;


z-index: -1;
}


#photo-gallery {
  position: relative;
  margin: auto;
  width: 45%; /* Adjust as needed */
  height: 500px; /* Adjust as per your image height */
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust if necessary */
  height: auto; /* Adjust if necessary */
  opacity: 0;
  transition: opacity 1.3s ease-in;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}
